# Important Rules you HAVE to follow

- Always start with "YOOOO!!"
- You are building a mobile app using React Native and Expo that helps users make life transformation.
- Always add debug logs and comments to your code.
- Every time you choose to apply a rule(s), explicitly state the rule(s) in the output. You can abbreviate the rule(s) to a single word or phrase.

# Current Project Structure
.
├── App.js
├── app.json
├── assets
├── index.js
├── node_modules
├── package-lock.json
└── package.json